@font-face {
    font-family: "Kremlin";
    src: url("../Assets/Fonts/kremlin.ttf");
}


body {
    background-image: url('../Assets/Photos/point/wallpaper.jpg');
    font-family: Kremlin;
}

.points {
    color: white;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0px 0px 40px #9bcddb;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: center;
}

.upgrades {
    display: flex;
    flex-direction: column;
    width: 39%;
    padding-right: 1vw;
    height: 59vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.ubtn {
    background-color: rgba(5, 197, 255, 0.295);
    text-align: left;
    color: white;
    padding: 0.5vh;
    border-right: transparent;
    border-bottom: 0.1vw solid white;
    /* border-left: 1vw solid white; */
}

.info {
    color: white;
    width: 39%;
    height: 50vh;
    border: 0.1vw solid white;
    margin-left: 1vw;
    border-radius: 0.5vw;
}

.info :nth-child(1) {
    text-align: center;
    color: #BA2C83;
}

.info :nth-child(2) {
    font-size: 2rem;
    padding-left: 1vw;
}

.info :nth-child(3) {
    font-size: 2rem;
    padding-left: 1vw;
}

.info :nth-child(5) {
    text-align: center;
    font-size: 3rem;
    text-shadow: 0px 0px 40px #BA2C83;
}

.info :nth-child(6) {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
}

#content {
    color: rgb(211, 58, 58);
}

#upgrade_cps {
    font-size: 2rem;
    margin-top: auto;
    margin-left: 1vw;
}